In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
def extract_demographics(df, n, a):
    # Initialize dictionary to hold demographic data with placeholders for easier mapping
    demographic_data = {
        'ID': n,
        'Expert' : a,
        'Date': None,
        'Height_in': None,
        'Height_cm': None,
        'Weight_lbs': None,
        'Weight_kg': None,
        'Age': None,
        'Sex': None
    }
    if a == 2:
        return demographic_data

    empty = False

    for col in df.columns[-15:]:
        for index in range(20):
            cell_value = str(df.at[index, col]).strip()
            if 'DATE:' in cell_value:
                    col_index = df.columns.get_loc(col)
                    
                    # Extract and convert Date to datetime
                    date_str = df.iat[index, col_index + 1]
                    demographic_data['Date'] = pd.to_datetime(date_str, errors='coerce')
                    
                    height_in_str = df.iat[index + 1, col_index + 1]
                    weight_lbs_str = df.iat[index + 3, col_index + 1]


                    if (len(height_in_str) != 5):
                        empty = True
                        print(f"Failed to extract demographic data from Subgroup_I_{n}_{a}.xlsx -- Height = {height_in_str} - Weight = {weight_lbs_str}")
                    
                    if not empty:
                        try:
                            demographic_data['Height_in'] = float(height_in_str.split()[0]) if height_in_str else None
                            
                            # Extract Height in cm, remove 'cm', and convert to float
                            height_cm_str = df.iat[index + 2, col_index + 1]
                            demographic_data['Height_cm'] = float(height_cm_str.split()[0]) if height_cm_str else None
                                                    
                            # Extract Weight in lbs, remove 'lbs', and convert to float
                            weight_lbs_str = df.iat[index + 3, col_index + 1]
                            demographic_data['Weight_lbs'] = float(weight_lbs_str.split()[0]) if weight_lbs_str else None
                        
                            # Extract Weight in kg, remove 'kg', and convert to float
                            weight_kg_str = df.iat[index + 4, col_index + 1]
                            demographic_data['Weight_kg'] = float(weight_kg_str.split()[0]) if (weight_kg_str and len(weight_kg_str) > 2) else None
                            
                            # Extract Age and convert to integer
                            age_str = df.iat[index + 5, col_index + 1]
                            demographic_data['Age'] = int(age_str)
                            
                            # Extract Sex
                            demographic_data['Sex'] = df.iat[index + 6, col_index + 1].strip()
                        
                        except Exception as e:
                            print(f"Failed to extract demographic data from Subgroup_I_{n}_{a}.xlsx - {e}")

                    
                    break  # Break the loop once all demographic data is extracted
        if demographic_data['Date'] is not None:
            break



    return demographic_data


# Initialize a list to store all records
all_records = []

for n in range(1, 101):  
    for a in range(1, 3):  
        ##################### ADJUST PATH ###############################
        file_name = f"Data/Subgroup_I_{n}_{a}.xlsx"
        try:
            df = pd.read_excel(file_name)
            
            # Convert 'SpO2' and 'HR' columns to numeric, coercing errors to NaN
            df['SpO2'] = pd.to_numeric(df['SpO2'], errors='coerce')
            df['HR'] = pd.to_numeric(df['HR'], errors='coerce')

            # Convert "Events" to a categorical type
            df['Events'] = df['Events'].astype('category')
            
            # Extract demographic information
            demographics = extract_demographics(df, n, a)  # Assuming this function is defined as needed
            
            # Filter the DataFrame based on 'SpO2' and 'HR'
            filtered_df = df[(df['SpO2'] > 0) & (df['HR'] > 0)]
            
            # Calculate total epochs, average SpO2, and average HR
            tot_Epoch = filtered_df['Epoch'].count()
            avg_SpO2 = filtered_df['SpO2'].mean()
            avg_HR = filtered_df['HR'].mean()
            min_SpO2 = filtered_df['SpO2'].min()
            min_HR = filtered_df['HR'].min()
            max_SpO2 = filtered_df['SpO2'].max()
            max_HR = filtered_df['HR'].max()
            
            # Summarize 'BPOS', 'Stage', and now 'Events' as well
            bpos_counts = filtered_df['BPOS'].value_counts().to_dict()
            stage_counts = filtered_df['Stage'].value_counts().to_dict()
            events_summary = filtered_df['Events'].value_counts().to_dict()  
            
            # Combine all extracted data into a record
            record = {
                **demographics,
                
                'Total_Epoch': tot_Epoch,
                'Min_SpO2': min_SpO2,
                'Min_HR': min_HR,
                'Max_SpO2': max_SpO2,
                'Max_HR': max_HR,
                'Average_SpO2': avg_SpO2,
                'Average_HR': avg_HR,
                'BPOS_Summary': bpos_counts,
                'Stage_Summary': stage_counts,
                'Events_Summary': events_summary  
            }
            all_records.append(record)
        except Exception as e:
            print(f"Failed to process {file_name}: {e}")

# Convert the list of dictionaries to a DataFrame
final_df = pd.DataFrame(all_records)
print(final_df.head())

# Specify the desired output CSV file path
# output_csv_path = 'summary_data_subgroup_3.csv'
# final_df.to_csv(output_csv_path, index=False)

# print(f"Data successfully written to {output_csv_path}")

Failed to extract demographic data from Subgroup_I_7_1.xlsx -- Height = 0 in - Weight = nan
Failed to extract demographic data from Subgroup_I_10_1.xlsx -- Height = in - Weight = lbs
Failed to extract demographic data from Subgroup_I_17_1.xlsx -- Height = 180 in - Weight = 90 lbs
Failed to extract demographic data from Subgroup_I_21_1.xlsx -- Height = in - Weight = lbs
Failed to extract demographic data from Subgroup_I_23_1.xlsx -- Height = 152 in - Weight = 116 lbs
Failed to extract demographic data from Subgroup_I_27_1.xlsx -- Height = in - Weight = lbs
Failed to extract demographic data from Subgroup_I_32_1.xlsx -- Height = in - Weight = lbs
Failed to extract demographic data from Subgroup_I_33_1.xlsx -- Height = 1 in - Weight = 311 lbs
Failed to extract demographic data from Subgroup_I_41_1.xlsx - 'float' object has no attribute 'strip'
Failed to extract demographic data from Subgroup_I_48_1.xlsx -- Height = in - Weight = lbs
Failed to extract demographic data from Subgroup_I_49_1.xlsx -- Height = in - Weight = 198 lbs
Failed to extract demographic data from Subgroup_I_54_1.xlsx -- Height = in - Weight = lbs
Failed to extract demographic data from Subgroup_I_61_1.xlsx -- Height = 163 in - Weight = 96 lbs
Failed to extract demographic data from Subgroup_I_63_1.xlsx - could not convert string to float: 'lbs'
Failed to extract demographic data from Subgroup_I_66_1.xlsx -- Height = in - Weight = lbs
Failed to extract demographic data from Subgroup_I_70_1.xlsx -- Height = 178 in - Weight = 75 lbs
Failed to extract demographic data from Subgroup_I_71_1.xlsx -- Height = 149 in - Weight = 64 lbs
Failed to extract demographic data from Subgroup_I_75_1.xlsx -- Height = in - Weight = lbs
Failed to extract demographic data from Subgroup_I_84_1.xlsx -- Height = in - Weight = lbs
Failed to extract demographic data from Subgroup_I_86_1.xlsx -- Height = in - Weight = lbs
Failed to extract demographic data from Subgroup_I_95_1.xlsx - cannot convert float NaN to integer
Failed to extract demographic data from Subgroup_I_99_1.xlsx -- Height = 197 in - Weight = 103 lbs
   ID  Expert       Date  Height_in  Height_cm  Weight_lbs  Weight_kg   Age  \
0   1       1 2009-05-18       68.0      172.0       183.0       83.0  64.0
1   1       2        NaT        NaN        NaN         NaN        NaN   NaN
2   2       1 2009-08-06       69.0      174.0       216.0       98.0  52.0
3   2       2        NaT        NaN        NaN         NaN        NaN   NaN
4   3       1 2009-05-21       68.0      172.0       139.0       63.0  38.0

    Sex  Total_Epoch  Min_SpO2  Min_HR  Max_SpO2  Max_HR  Average_SpO2  \
0  Male          872      79.0    52.0      99.0    91.0     93.280963
1  None          871      79.0    52.0      99.0    91.0     93.278990
2  Male          938      88.0    57.0      98.0   162.0     95.412580
3  None          937      88.0    57.0      98.0   162.0     95.408751
4  Male          925      97.0    53.0     100.0    99.0     99.300541

   Average_HR                    BPOS_Summary  \
0   63.200688             {'R': 793, 'B': 79}
1   63.199770             {'R': 792, 'B': 79}
2   66.958422  {'R': 384, 'B': 348, 'L': 206}
3   66.964781  {'R': 383, 'B': 348, 'L': 206}
4   67.864865   {'B': 587, 'R': 293, 'L': 45}

                                       Stage_Summary  \
0  {'W': 262, 'N3': 228, 'N2': 193, 'R': 116, 'N1...
1  {'W': 270, 'N3': 228, 'N2': 210, 'R': 121, 'N1...
2  {'N2': 339, 'W': 233, 'N3': 156, 'N1': 108, 'R...
3  {'N2': 418, 'W': 200, 'N1': 110, 'N3': 106, 'R...
4  {'N2': 246, 'R': 223, 'N3': 172, 'N1': 165, 'W...

                                      Events_Summary
0  {'AR': 40, 'CA': 40, 'OH': 37, 'AR,CA': 26, 'M...
1  {'AR': 80, 'Awake': 19, 'AR,MChg': 1, 'MChg': ...
2  {'AR': 54, 'PLM': 27, 'Awake': 21, 'MH': 10, '...
3  {'AR': 150, 'Awake': 13, 'AR,AR': 6, 'AR,Awake...
4  {'AR': 78, 'Awake': 27, 'PLM': 7, 'PLM,AR': 6,...

In [31]:
import pandas as pd
df = pd.read_csv("summary_data_subgroup_3.csv")
df

,ID,Expert,Date,Height_in,Height_cm,Weight_lbs,Weight_kg,Age,Sex,Total_Epoch,Min_SpO2,Min_HR,Max_SpO2,Max_HR,Average_SpO2,Average_HR,BPOS_Summary,Stage_Summary,Events_Summary
0,1,1,2009-03-28,NaN,NaN,NaN,NaN,30.0,Male,566,93,53.0,100,186.0,97.901060,69.489399,"{'B': 298, 'L': 268}","{'N2': 240, 'R': 109, 'N3': 106, 'N1': 56, 'W'...","{'AR': 52, 'Awake': 3, 'MH': 2, 'AR,AR': 1, 'A..."
1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,570,93,53.0,100,186.0,97.905263,69.742105,"{'B': 297, 'L': 273}","{'N2': 257, 'N3': 103, 'R': 103, 'N1': 56, 'W'...","{'AR': 62, 'Awake': 5, '79 Awake': 0, 'AR,AR':..."
2,2,1,2009-04-25,69.0,175.0,198.0,90.0,41.0,Male,875,92,58.0,98,143.0,94.718857,70.235429,"{'R': 645, 'L': 195, 'B': 19, 'P': 11, 'N': 5}","{'N2': 305, 'N3': 197, 'R': 149, 'N1': 122, 'W...","{'AR': 70, 'PLM': 24, 'Awake': 8, 'SN': 6, 'MH..."
3,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,867,92,58.0,98,143.0,94.733564,70.229527,"{'R': 643, 'L': 189, 'B': 19, 'P': 11, 'N': 5}","{'N2': 294, 'N3': 242, 'R': 163, 'N1': 93, 'W'...","{'AR': 121, 'Awake': 17, 'AR,AR': 3, 'MChg': 1..."
4,3,1,2009-02-14,69.0,176.0,187.0,85.0,52.0,Male,820,91,50.0,98,123.0,94.524390,59.700000,"{'R': 406, 'L': 386, 'B': 28}","{'N3': 317, 'N2': 248, 'R': 103, 'W': 88, 'N1'...","{'AR': 55, 'OH': 13, 'MA': 9, 'MA,AR': 7, 'LM'..."
5,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,818,91,50.0,98,123.0,94.523227,59.679707,"{'R': 404, 'L': 386, 'B': 28}","{'N3': 288, 'N2': 260, 'R': 118, 'W': 80, 'N1'...","{'AR': 97, 'Awake': 25, 'AR,AR': 2, 'MChg': 2,..."
6,4,1,2009-03-14,NaN,NaN,NaN,NaN,58.0,Male,774,14,55.0,100,129.0,97.040052,70.124031,"{'L': 336, 'B': 158, 'R': 132, 'N': 8}","{'N2': 232, 'W': 162, 'N3': 159, 'N1': 133, 'R...","{'AR': 93, 'MH': 15, 'Awake': 6, 'AR,MH': 4, '..."
7,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,778,14,55.0,100,129.0,97.041131,70.131105,"{'L': 355, 'B': 164, 'R': 152, 'N': 107}","{'N2': 216, 'N3': 158, 'W': 145, 'N1': 132, 'R...","{'AR': 104, 'Awake': 6, 'AR,AR': 2, 'L Out': 1..."
8,5,1,2009-02-14,67.0,170.0,159.0,72.0,49.0,Female,874,93,70.0,98,186.0,96.512586,83.615561,"{'B': 483, 'R': 287, 'L': 104}","{'N2': 285, 'W': 257, 'N3': 191, 'R': 81, 'N1'...","{'AR': 40, 'PLM': 22, 'AR,LM': 10, 'LM': 10, '..."
9,5,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,903,93,70.0,98,186.0,96.516058,83.863787,"{'B': 494, 'R': 291, 'L': 118}","{'N2': 305, 'W': 268, 'N3': 143, 'R': 95, 'N1'...","{'AR': 78, 'Awake': 10, 'MChg': 2, 'AR,AR': 1,..."
10,6,1,2009-03-28,NaN,NaN,NaN,NaN,38.0,Male,841,94,58.0,99,99.0,96.985731,67.824019,"{'B': 303, 'L': 291, 'R': 247}","{'N2': 294, 'N3': 246, 'N1': 135, 'R': 96, 'W'...","{'AR': 102, 'MH': 34, 'AR,MH': 14, 'Awake': 9,..."
11,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,840,94,58.0,99,99.0,96.982143,67.794048,"{'B': 299, 'L': 294, 'R': 247}","{'N2': 338, 'N3': 235, 'R': 137, 'N1': 66, 'W'...","{'AR': 212, 'Awake': 24, 'AR,AR': 14, 'AR,Awak..."
12,7,1,2009-03-14,NaN,NaN,NaN,NaN,31.0,Male,784,94,53.0,98,177.0,96.262755,69.141582,"{'L': 448, 'P': 309, 'B': 26, 'N': 1}","{'N3': 261, 'W': 206, 'N2': 151, 'R': 101, 'N1...","{'AR': 76, 'Awake': 11, 'MH': 6, 'AR,MH': 3, '..."
13,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,775,94,53.0,98,177.0,96.268387,69.132903,"{'L': 443, 'P': 306, 'B': 25, 'N': 1}","{'N2': 241, 'N3': 234, 'W': 185, 'R': 101, 'N1...","{'AR': 88, 'Awake': 10, 'AR,AR': 4, 'MChg': 1,..."
14,8,1,2009-02-28,NaN,NaN,NaN,NaN,31.0,Male,950,1,62.0,100,150.0,97.715789,73.688421,"{'R': 495, 'L': 333, 'N': 103, 'B': 19}","{'W': 367, 'N2': 186, 'R': 154, 'N3': 143, 'N1...","{'PLM': 42, 'AR': 35, 'PLM,PLM': 27, 'LM': 19,..."
15,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,964,1,62.0,100,150.0,97.714730,73.595436,"{'R': 495, 'L': 347, 'N': 103, 'B': 19}","{'W': 367, 'N2': 185, 'R': 156, 'N3': 143, 'N1...","{'AR': 44, 'PLM': 42, 'PLM,PLM': 27, 'LM': 19,..."
16,9,1,2009-04-25,70.0,177.0,185.0,84.0,33.0,Male,874,94,49.0,99,176.0,96.621281,64.542334,"{'L': 485, 'B': 174, 'N': 132, 'R': 83}","{'N2': 348, 'N3': 223, 'N1': 125, 'W': 120, 'R...","{'AR': 39, 'MH': 9, 'LM': 5, 'AR,MH': 4, 'MH,A..."
17,9,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,877,94,49.0,99,176.0,96.620296,64.572406,"{'L': 482, 'B': 178, 'N': 133, 'R': 84}","{'N2': 348, 'N3': 223, 'N1': 126, 'W': 122, 'R...","{'AR': 39, 'AR,MH': 7, 'LM': 7, 'MH': 7, 'MH,A..."
18,10,2,NaN,NaN,NaN,NaN,NaN,33.0,Male,450,50,63.0,100,169.0,94.364444,77.004444,"{'L': 274, 'B': 126, 'R': 50}","{'N1': 130, 'R': 113, 'N2': 96, 'W': 78, 'N3':...","{'AR': 19, 'OH': 6, 'MH': 4, 'OH,AR': 2, 'MH,A..."

In [20]:
# Normalize the JSON data into a flat table
final_df[["Stage_Summary","Sex","ID","Age"]]

# Export the normalized DataFrame to a CSV file
# df_normalized.to_csv('sleep_stage_output_subgroup_3.csv', index=False)

                                        Stage_Summary     Sex  ID   Age
0   {'N2': 240, 'R': 109, 'N3': 106, 'N1': 56, 'W'...    Male   1  30.0
1   {'N2': 257, 'N3': 103, 'R': 103, 'N1': 56, 'W'...     NaN   1   NaN
2   {'N2': 305, 'N3': 197, 'R': 149, 'N1': 122, 'W...    Male   2  41.0
3   {'N2': 294, 'N3': 242, 'R': 163, 'N1': 93, 'W'...     NaN   2   NaN
4   {'N3': 317, 'N2': 248, 'R': 103, 'W': 88, 'N1'...    Male   3  52.0
5   {'N3': 288, 'N2': 260, 'R': 118, 'W': 80, 'N1'...     NaN   3   NaN
6   {'N2': 232, 'W': 162, 'N3': 159, 'N1': 133, 'R...    Male   4  58.0
7   {'N2': 216, 'N3': 158, 'W': 145, 'N1': 132, 'R...     NaN   4   NaN
8   {'N2': 285, 'W': 257, 'N3': 191, 'R': 81, 'N1'...  Female   5  49.0
9   {'N2': 305, 'W': 268, 'N3': 143, 'R': 95, 'N1'...     NaN   5   NaN
10  {'N2': 294, 'N3': 246, 'N1': 135, 'R': 96, 'W'...    Male   6  38.0
11  {'N2': 338, 'N3': 235, 'R': 137, 'N1': 66, 'W'...     NaN   6   NaN
12  {'N3': 261, 'W': 206, 'N2': 151, 'R': 101, 'N1...    Male   7  31.0
13  {'N2': 241, 'N3': 234, 'W': 185, 'R': 101, 'N1...     NaN   7   NaN
14  {'W': 367, 'N2': 186, 'R': 154, 'N3': 143, 'N1...    Male   8  31.0
15  {'W': 367, 'N2': 185, 'R': 156, 'N3': 143, 'N1...     NaN   8   NaN
16  {'N2': 348, 'N3': 223, 'N1': 125, 'W': 120, 'R...    Male   9  33.0
17  {'N2': 348, 'N3': 223, 'N1': 126, 'W': 122, 'R...     NaN   9   NaN
18  {'N1': 130, 'R': 113, 'N2': 96, 'W': 78, 'N3':...    Male  10  33.0

In [40]:
import pandas as pd
from ast import literal_eval

df = pd.read_csv('summary_data.csv')

df['Stage_Summary'] = df['Stage_Summary'].apply(lambda x: literal_eval(x))

stage_summary_expanded = pd.json_normalize(df['Stage_Summary'])

# Drop the 'BPOS_Summary', 'Events_Summary', and original 'Stage_Summary' columns
df = df.drop(['BPOS_Summary', 'Events_Summary', 'Stage_Summary'], axis=1)

# Combine the expanded stage summary with the original DataFrame, now without the dropped columns
df_combined = pd.concat([df, stage_summary_expanded], axis=1)

# Assuming 'ID' and 'Sex' are not included in the mean calculation
numeric_cols = df_combined.select_dtypes(include=['float64', 'int64']).columns.difference(['ID'])
df_grouped = df_combined.groupby('ID')[numeric_cols].mean().reset_index()

# Merge non-numeric data ('Sex') back into the grouped DataFrame
df_final = pd.merge(df_grouped, df[['ID', 'Sex']].drop_duplicates('ID'), on='ID', how='left')

print(df_final.head())

   ID   Age  Average_HR  Average_SpO2  Expert  Height_cm  Height_in  Max_HR  \
0   1  64.0   63.200229     93.279976     1.5      172.0       68.0    91.0
1   2  52.0   66.961602     95.410666     1.5      174.0       69.0   162.0
2   3  38.0   67.842759     99.301901     1.5      172.0       68.0    99.0
3   4  27.0   59.204995     94.752488     1.5      178.0       70.0   152.0
4   5  58.0   53.651972     97.512307     1.5      145.0       57.0   122.0

   Max_SpO2  Min_HR  ...     N2     N3      R  Total_Epoch    U      W  \
0      99.0    52.0  ...  201.5  228.0  118.5        871.5  NaN  266.0
1      98.0    57.0  ...  378.5  131.0  102.0        937.5  NaN  216.5
2     100.0    53.0  ...  308.0  159.5  239.0        922.5  2.0  112.0
3      97.0    47.0  ...  122.5  154.0   28.0        320.5  1.0    6.0
4     100.0    44.0  ...  288.5  164.5   43.5        873.5  NaN  302.5

   Weight_kg  Weight_lbs   n2     Sex
0       83.0       183.0  NaN    Male
1       98.0       216.0  1.0    Male
2       63.0       139.0  NaN    Male
3       76.0       168.0  NaN    Male
4       60.0       132.0  NaN  Female

[5 rows x 23 columns]

In [41]:
df_final.to_csv("test_2.csv")

In [36]:
stage_summary_expanded

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]