# Title
## Group 15
Josh Brauner, Raahim Salman, Ze Yu

## Introduction

ToDo: Add introduction

## Guiding Questions

ToDo: Add guiding questions

## Dataset

ToDo: Describe dataset

## Analysis

In [7]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("mode.copy_on_write", True)

In [11]:
# data formtting
summary_sg1 = pd.read_csv("summary_data.csv")
sleep_stage_sg1 = pd.read_csv("sleep_stage_output.csv")
event_stage_sg1 = pd.read_csv("event_stage_output.csv") # this output file needs adjustment

summary_sg1 = pd.concat([summary_sg1, sleep_stage_sg1, event_stage_sg1])

display(summary_sg1)

,ID,Expert,Date,Height_in,Height_cm,Weight_lbs,Weight_kg,Age,Sex,Total_Epoch,...,"AR,PLM,CA","146 PLM,AR","65 PLM,AR","62 AR,MH","61 AR,MH","60 AR,PLM","59 PLM,AR","58 PLM,AR","56 AR,MH","142 PLM,AR"
0,1.0,1.0,2009-05-18,68.0,172.0,183.0,83.0,64.0,Male,872.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,871.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,1.0,2009-08-06,69.0,174.0,216.0,98.0,52.0,Male,938.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,937.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,1.0,2009-05-21,68.0,172.0,139.0,63.0,38.0,Male,925.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Conclusion

ToDo: Add conclusion

## References